#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.orden {
  display: flex;
  flex-direction: column;
  justify-content: center;
padding: 50px;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}