#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.orden {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px;
}

.card {
  padding: 10px;
  width: 100%;
}

.alert-container {
  max-width: 400px;
  margin: 0 auto;
}
