.form-regist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

form {
 
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.title-text {
  font-size: 18px;
  color: #f8f8f8;
}

input {
  padding: 12px;
  border: 1px solid #50095a;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%; /
}
