.form-regist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

form {

  width: 150px;
  margin: auto;
  padding: 6px;
}

.title-text {
  font-size: 30px;
  color: #c8c8c8;
}


input {
  padding: 12px;
  border: 1px solid #370831;
  border-radius: 5px;
  margin-bottom: 10px;
}